{% for service in page.services %}
<section class="services-section">
  <div class="container">
    {% assign has_header = service.title or service.lead %}
    {% if has_header %}
    <div class="row mb-4 text-center">
      <div class="col">
        {% if service.title %}
        <h2>{{ service.title }}</h2>
        {% endif %}
        {% if service.lead %}
        <p class="lead">{{ service.lead }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% if service.cards.size > 0 %}
    {% assign col_size = 12 | divided_by: service.cards.size %}
    <div class="row {% unless has_header %}mt-0{% endunless %}">
      {% for card in service.cards %}
      <div class="col-md-{{ col_size }} mb-4">
        <div class="card">
          <div class="card-img-top">
            <img src="" alt="{{ card.card_title }}" class="img-fluid service-img" data-base="{{ card.img }}" data-id="service-{{ forloop.index }}">
          </div>
          <div class="card-body text-center">
            <h5 class="card-title"><a href="{{ card.url }}">{{ card.card_title }}</a></h5>
            <p class="card-text">{{ card.card_text }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <p>No services available.</p>
    {% endif %}
  </div>
</section>
{% endfor %}



<script>
document.addEventListener('DOMContentLoaded', function () {
  const baseUrl = '{{ "" | relative_url }}/';  // Ensure trailing slash

  const serviceImages = document.querySelectorAll('.service-img');

  const resolutions = [3200, 2400, 1920, 1600, 1280, 1024, 768, 640, 480];
  const formats = ['webp', 'jpg', 'png']; // Prioritized formats

  serviceImages.forEach(imgElement => {
    const baseName = imgElement.dataset.base;
    let srcset = '';

    formats.some(format => {
      resolutions.forEach(resolution => {
        const filePath = `${baseUrl}assets/img/${baseName}/${baseName}-${resolution}.${format}`;
        srcset += `${filePath} ${resolution}w, `;
      });
      imgElement.setAttribute('srcset', srcset.trim());
      imgElement.setAttribute('sizes', '(max-width: 1200px) 100vw, 100%');
      return true; // Stop after the first valid format
    });
  });
});
</script>


